<ng-container *ngFor="let select of selected">
    <div>
        <div>{{select.name}}</div>
        <div class="row">
            <div>todo: drinksname ngFor</div>
            <div>todo: drinks description</div>
        </div>
    </div>
</ng-container>
