<div class="justify-content-column">
  <button
    mat-mini-fab
    color="accent"
    aria-label="Plus icon"
  >
    <mat-icon>plus_one</mat-icon>
  </button>
  <div class="row" *ngFor="let list of dataService.getPubs()">
    <img />
    <button mat-raised-button color="primary" (click)="navigate()">
      {{ list.name }}
    </button>
  </div>
</div>
