<mat-toolbar color="primary">  
  <h1 class="logo">DrunkHUB</h1>
  <div class="justify-content-end">
    <label (click)="page = 1" routerLink='/pubs' class="non-selected pointer" [ngClass]="{'selected': page === 1}">Kocsmák</label>
    <label (click)="page = 2" routerLink='/drinks' class="non-selected pointer" [ngClass]="{'selected': page === 2}">Italok</label>
    <label (click)="page = 3" routerLink='/locations' class="non-selected pointer" [ngClass]="{'selected': page === 3}">Helyszínek</label>
  </div>  
</mat-toolbar>
  <router-outlet></router-outlet>